In [19]:
# Read the csv dataset
import py_entitymatching as em
A = em.read_csv_metadata('../datasets/yelp_data_csv.csv', key='id')
B = em.read_csv_metadata('../datasets/inspection_data_csv.csv', key='id')

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

In [20]:
A.head()

   id                      name  zip_code       phone                  address
0   1               Barn Joo 35     10001  2125644430          34 W 35th St, ,
1   2                Friedman's     10001  2129719400         132 W 31st St, ,
2   3                   Juniper     10001  2129672511           237 W 35th St,
3   4  Haymaker Bar and Kitchen     10001  6464298237         252 W 29th St, ,
4   5               Izakaya MEW     10001  6463689384  53 W 35th St, Basement,

In [21]:
# Down-sample
sample_A, sample_B = em.down_sample(A, B, size=10000, y_param=2)

0%                          100%
[##############################] | ETA: 00:00:06 | ETA: 00:00:06 | ETA: 00:00:05 | ETA: 00:00:05 | ETA: 00:00:05 | ETA: 00:00:04 | ETA: 00:00:04 | ETA: 00:00:04 | ETA: 00:00:04 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00
Total time elapsed: 00:00:05

In [22]:
# Perform blocking
ab = em.AttrEquivalenceBlocker()
C = ab.block_tables(A, B, 'phone', 'phone', l_output_attrs=['name'], r_output_attrs=['name'])
print(type(A.ix[0]['phone']))
print(type(B.ix[0]['phone']))

<class 'numpy.int64'>
<class 'str'>

In [23]:
len(C)

0