In [17]:
# Read the csv dataset
import py_entitymatching as em
A = em.read_csv_metadata('../datasets/yelp_data.csv')
A['ID'] = range(0, len(A))
em.set_key(A, 'ID')

B = em.read_csv_metadata('../datasets/inspection_data.csv')
B['ID'] = range(0, len(B))
em.set_key(B, 'ID')

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

True

In [18]:
A.head()

,name,address,zipcode,cuisine,ID
0,Barn Joo 35,"34 W 35th St, ,",10001,Korean Gastropubs Tapas/Small Plates,0
1,Friedman's,"132 W 31st St, ,",10001,American (New) Gluten-Free Breakfast & Brunch,1
2,Juniper,"237 W 35th St,",10001,Cocktail Bars American (New),2
3,Haymaker Bar and Kitchen,"252 W 29th St, ,",10001,Gastropubs Beer Bar,3
4,Izakaya MEW,"53 W 35th St, Basement,",10001,Sushi Bars Izakaya Cocktail Bars,4

In [19]:
# Down-sample
sample_A, sample_B = em.down_sample(A, B, size=10000, y_param=2)

0%                          100%
[##############################] | ETA: 00:00:13 | ETA: 00:00:12 | ETA: 00:00:12 | ETA: 00:00:11 | ETA: 00:00:10 | ETA: 00:00:10 | ETA: 00:00:10 | ETA: 00:00:09 | ETA: 00:00:09 | ETA: 00:00:08 | ETA: 00:00:08 | ETA: 00:00:07 | ETA: 00:00:07 | ETA: 00:00:07 | ETA: 00:00:06 | ETA: 00:00:06 | ETA: 00:00:05 | ETA: 00:00:05 | ETA: 00:00:04 | ETA: 00:00:04 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00
Total time elapsed: 00:00:13

In [20]:
# Perform blocking
ab = em.AttrEquivalenceBlocker()
C = ab.block_tables(sample_A, sample_B, 'zipcode', 'zipcode', l_output_attrs=['name'], r_output_attrs=['name'])

In [21]:
len(C)

921243

In [22]:
C.head(500)

,_id,ltable_ID,rtable_ID,ltable_name,rtable_name
0,0,0,450,Barn Joo 35,DUNKIN DONUTS
1,1,0,6956,Barn Joo 35,AMERICAN WHISKEY
2,2,0,4553,Barn Joo 35,"DUNKIN' DONUTS, HUDSON NEWS"
3,3,0,18911,Barn Joo 35,AUNTIE ANNE'S PRETZELS
4,4,0,22334,Barn Joo 35,SONG KRAN THAI
5,5,0,20504,Barn Joo 35,RARE VIEW ROOFTOP
6,6,0,16864,Barn Joo 35,FRAME GOURMET EATERY
7,7,0,11538,Barn Joo 35,SPEEDY DELI
8,8,0,21058,Barn Joo 35,SALUMERIA BEILLESE/ BIRICCHINO REST
9,9,0,6425,Barn Joo 35,SMITHFIELD HALL
10,10,0,13208,Barn Joo 35,B AND B RESTAURANT
11,11,0,14616,Barn Joo 35,JESSIE'S EXPRESS CAFE
12,12,0,13392,Barn Joo 35,DON PEPI PIZZA
13,13,0,8675,Barn Joo 35,CAFE BISTRO
14,14,0,3727,Barn Joo 35,PONDICHERI
15,15,0,3576,Barn Joo 35,METRO GRILL
16,16,0,22264,Barn Joo 35,HYO DONG GAK
17,17,0,6856,Barn Joo 35,TWINS PUB
18,18,0,17595,Barn Joo 35,FOLEY'S N.Y. PUB AND RESTAURANT
19,19,0,7920,Barn Joo 35,HYATT HERALD SQUARE
20,20,0,9845,Barn Joo 35,STARBUCKS
21,21,0,11176,Barn Joo 35,GAGOPA MUSIC STUDIO
22,22,0,13863,Barn Joo 35,THE FLYING PUCK
23,23,0,5276,Barn Joo 35,TXIKITO
24,24,0,16434,Barn Joo 35,CAFE 31
25,25,0,1739,Barn Joo 35,ASURA ASIAN BISTRO
26,26,0,4185,Barn Joo 35,"DUNKIN' DONUTS, HUDSON NEWS"
27,27,0,6512,Barn Joo 35,DIG INN SEASONAL MARKET
28,28,0,20553,Barn Joo 35,PN WOOD FIRED PIZZA
29,29,0,22583,Barn Joo 35,33 Gourmet
...,...,...,...,...,...
470,470,2,3704,Juniper,KANG SUH KOREAN RESTAURANT
471,471,2,6318,Juniper,HELEN MILLS EVENT SPACE AND THEATER
472,472,2,15070,Juniper,UNCLE NICK'S
473,473,2,18980,Juniper,ASURA ASIAN BISTRO
474,474,2,13401,Juniper,SPACE BILLARD
475,475,2,19804,Juniper,JESSIE'S EXPRESS CAFE
476,476,2,19891,Juniper,FOOD DEPOT
477,477,2,18315,Juniper,MING'S RESTAURANT
478,478,2,9585,Juniper,SUBWAY
479,479,2,1898,Juniper,CAFE NUNEZ
480,480,2,17845,Juniper,CAJUN SEA
481,481,2,3646,Juniper,MARU
482,482,2,13573,Juniper,HOLIDAY INN EXPRESS - MANHATTAN
483,483,2,2332,Juniper,SBARRO
484,484,2,13569,Juniper,ABIKO CURRY
485,485,2,14299,Juniper,HAMPTON INN EMPIRE STATE BUILDING
486,486,2,4231,Juniper,AJISEN RAMEN
487,487,2,16692,Juniper,TURNTABLE
488,488,2,11015,Juniper,FOOD DEPOT
489,489,2,6183,Juniper,FOOD FOR THOUGHT CATERED EVENTS
490,490,2,8690,Juniper,CAFFE BENE
491,491,2,18555,Juniper,JACK DOYLES PUB & RESTAURANT
492,492,2,4892,Juniper,THE SPOT KARAOKE LOUNGE
493,493,2,11280,Juniper,FAIRFIELD INN CHELSEA
494,494,2,8774,Juniper,MARKET CRATES
495,495,2,15392,Juniper,PIER 66 MARITIME
496,496,2,13447,Juniper,DEAN & DELUCA NEW YORK
497,497,2,17386,Juniper,LUNA
498,498,2,20103,Juniper,CHIPOTLE MEXICAN GRILL
499,499,2,1113,Juniper,B&W DELI GROCERY