In [93]:
# Read the csv dataset
import py_entitymatching as em
A = em.read_csv_metadata('../datasets/yelp_data_csv.csv', key='id')
B = em.read_csv_metadata('../datasets/inspection_data_csv.csv', key='id')

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

In [94]:
A.head()

   id                      name  zip_code       phone                  address
0   1               Barn Joo 35     10001  2125644430          34 W 35th St, ,
1   2                Friedman's     10001  2129719400         132 W 31st St, ,
2   3                   Juniper     10001  2129672511           237 W 35th St,
3   4  Haymaker Bar and Kitchen     10001  6464298237         252 W 29th St, ,
4   5               Izakaya MEW     10001  6463689384  53 W 35th St, Basement,

In [95]:
# Down-sample
sample_A, sample_B = em.down_sample(A, B, size=10000, y_param=2)

0%                          100%
[##############################] | ETA: 00:00:05 | ETA: 00:00:05 | ETA: 00:00:05 | ETA: 00:00:05 | ETA: 00:00:05 | ETA: 00:00:04 | ETA: 00:00:04 | ETA: 00:00:04 | ETA: 00:00:04 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00
Total time elapsed: 00:00:05

In [96]:
# Perform blocking
ab = em.AttrEquivalenceBlocker()
C = ab.block_tables(sample_A, sample_B, 'phone', 'phone', l_output_attrs=['name', 'zip_code', 'phone','address'], r_output_attrs=['name', 'zip_code', 'phone','address'])
print(type(A.ix[0]['phone']))
print(type(B.ix[0]['phone']))

<class 'numpy.int64'>
<class 'numpy.int64'>

In [97]:
len(C)

4226

In [99]:
C.head(5)

,_id,ltable_id,rtable_id,ltable_name,ltable_zip_code,ltable_phone,ltable_address,rtable_name,rtable_zip_code,rtable_phone,rtable_address
0,0,21,43253,Smithfield,10001,2129299677,"138 W 25th St, ,",SMITHFIELD HALL,10001,2129299677,"138, W 25TH ST"
1,1,53,162860,Cafe Hanamizuki,10001,2126955533,"143 W 29th St, ,",HANAMIZUKI CAFE,10001,2126955533,"143, W 29TH ST"
2,2,56,91763,Milanes Spanish Restaurant,10001,2122439797,"168 W 25th St, ,",MILANES SPANISH RESTAURANT,10001,2122439797,"168, WEST 25 STREET"
3,3,60,79016,Waldy's Wood Fired Pizza & Penne,10001,2122135042,"800 6th Ave,",WALDY'S WOOD FIRED PIZZA & PENNE,10001,2122135042,"800, 6 AVENUE"
4,4,62,9689,B&B Restaurant Corp,10001,6464298174,"165 W 26th St, ,",B AND B RESTAURANT,10001,6464298174,"165, WEST 26 STREET"