In [96]:
# Read the csv dataset
import py_entitymatching as em
A = em.read_csv_metadata('../datasets/yelp_data.csv')
A['ID'] = range(0, len(A))
em.set_key(A, 'ID')

B = em.read_csv_metadata('../datasets/inspection_data.csv')
B['ID'] = range(0, len(B))
em.set_key(B, 'ID')

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

True

In [97]:
A.head()

,name,address,zipcode,cuisine,ID
0,barn joo 35,"34 w 35th st, ,",10001,korean gastropubs tapas/small plates,0
1,friedman's,"132 w 31st st, ,",10001,american (new) gluten-free breakfast & brunch,1
2,juniper,"237 w 35th st,",10001,cocktail bars american (new),2
3,haymaker bar and kitchen,"252 w 29th st, ,",10001,gastropubs beer bar,3
4,izakaya mew,"53 w 35th st, basement,",10001,sushi bars izakaya cocktail bars,4

In [98]:
# Down-sample
sample_A, sample_B = em.down_sample(A, B, size=5000, y_param=2)

0%                          100%
[##############################] | ETA: 00:00:07 | ETA: 00:00:07 | ETA: 00:00:06 | ETA: 00:00:06 | ETA: 00:00:06 | ETA: 00:00:05 | ETA: 00:00:05 | ETA: 00:00:05 | ETA: 00:00:05 | ETA: 00:00:04 | ETA: 00:00:04 | ETA: 00:00:04 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00
Total time elapsed: 00:00:07

In [99]:
# Perform blocking
ab = em.AttrEquivalenceBlocker()
C = ab.block_tables(sample_A, sample_B, 'zipcode', 'zipcode', l_output_attrs=['name', 'address', 'zipcode', 'cuisine'], r_output_attrs=['name', 'address', 'zipcode', 'cuisine'])
ob = em.OverlapBlocker()
D = ob.block_candset(C, 'address', 'address', overlap_size=3)

0%                          100%
[##############################] | ETA: 00:00:04 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00
Total time elapsed: 00:00:04

In [100]:
# Describe the candidate set
print(len(D))
D.head(50)

2568

,_id,ltable_ID,rtable_ID,ltable_name,ltable_address,ltable_zipcode,ltable_cuisine,rtable_name,rtable_address,rtable_zipcode,rtable_cuisine
105,105,2,450,juniper,"237 w 35th st,",10001,cocktail bars american (new),dunkin donuts,155 w 35th st,10001,donuts
111,111,2,6988,juniper,"237 w 35th st,",10001,cocktail bars american (new),wafels & dinges,102 w 35th st,10001,french
131,131,2,4900,juniper,"237 w 35th st,",10001,cocktail bars american (new),sushi fussion,224 w 35th st,10001,jewish/kosher
140,140,2,12576,juniper,"237 w 35th st,",10001,cocktail bars american (new),sushi fussion,224 w 35th st,10001,jewish/kosher
163,163,2,17149,juniper,"237 w 35th st,",10001,cocktail bars american (new),dunkin donuts,155 w 35th st,10001,donuts
266,266,10,11526,jongro bbq,"22 w 32nd st, ,",10001,korean barbeque beer bar,shanghai mong,30 w 32nd st,10001,korean
267,267,10,3646,jongro bbq,"22 w 32nd st, ,",10001,korean barbeque beer bar,maru,11 w 32nd st,10001,korean
285,285,10,16410,jongro bbq,"22 w 32nd st, ,",10001,korean barbeque beer bar,miss korea barbecue ''sun'',10 w 32nd st,10001,korean
311,311,10,3661,jongro bbq,"22 w 32nd st, ,",10001,korean barbeque beer bar,paik's noodle,2 w 32nd st,10001,korean
323,323,10,21402,jongro bbq,"22 w 32nd st, ,",10001,korean barbeque beer bar,food gallery 32,11 w 32nd st,10001,korean
349,349,11,11526,five senses,"9 w 32nd st, ,",10001,korean barbeque,shanghai mong,30 w 32nd st,10001,korean
350,350,11,3646,five senses,"9 w 32nd st, ,",10001,korean barbeque,maru,11 w 32nd st,10001,korean
368,368,11,16410,five senses,"9 w 32nd st, ,",10001,korean barbeque,miss korea barbecue ''sun'',10 w 32nd st,10001,korean
394,394,11,3661,five senses,"9 w 32nd st, ,",10001,korean barbeque,paik's noodle,2 w 32nd st,10001,korean
406,406,11,21402,five senses,"9 w 32nd st, ,",10001,korean barbeque,food gallery 32,11 w 32nd st,10001,korean
448,448,13,21361,riko peruvian cuisine,"409 8th ave, ,",10001,peruvian latin american seafood,riko,409 8th ave,10001,peruvian
682,682,16,3646,dadam,"11 west 32nd st, fl 2,",10001,korean food court,maru,11 w 32nd st,10001,korean
726,726,16,3661,dadam,"11 west 32nd st, fl 2,",10001,korean food court,paik's noodle,2 w 32nd st,10001,korean
738,738,16,21402,dadam,"11 west 32nd st, fl 2,",10001,korean food court,food gallery 32,11 w 32nd st,10001,korean
800,800,17,9544,jun-men ramen bar,"249 9th ave,",10001,ramen,jun-men ramen bar,249 9th ave,10001,japanese
859,859,18,16278,ocabanon,"245 w 29th st,",10001,french wine bars tapas bars,hanamizuki cafe,143 w 29th st,10001,japanese
900,900,18,9275,ocabanon,"245 w 29th st,",10001,french wine bars tapas bars,the paul,32 w 29th st,10001,american
1002,1002,20,5830,smithfield,"138 w 25th st, ,",10001,pubs american (traditional) sports bars,perpetuum cafe,124 w 25th st,10001,cafã©/coffee/tea
1072,1072,20,2408,smithfield,"138 w 25th st, ,",10001,pubs american (traditional) sports bars,smithfield hall,138 w 25th st,10001,american
1096,1096,21,11526,abiko curry,"2 w 32nd st,",10001,japanese,shanghai mong,30 w 32nd st,10001,korean
1097,1097,21,3646,abiko curry,"2 w 32nd st,",10001,japanese,maru,11 w 32nd st,10001,korean
1115,1115,21,16410,abiko curry,"2 w 32nd st,",10001,japanese,miss korea barbecue ''sun'',10 w 32nd st,10001,korean
1141,1141,21,3661,abiko curry,"2 w 32nd st,",10001,japanese,paik's noodle,2 w 32nd st,10001,korean
1153,1153,21,21402,abiko curry,"2 w 32nd st,",10001,japanese,food gallery 32,11 w 32nd st,10001,korean
1184,1184,28,450,lemony,"224 w 35th st, ,",10001,greek salad desserts,dunkin donuts,155 w 35th st,10001,donuts
1190,1190,28,6988,lemony,"224 w 35th st, ,",10001,greek salad desserts,wafels & dinges,102 w 35th st,10001,french
1210,1210,28,4900,lemony,"224 w 35th st, ,",10001,greek salad desserts,sushi fussion,224 w 35th st,10001,jewish/kosher
1219,1219,28,12576,lemony,"224 w 35th st, ,",10001,greek salad desserts,sushi fussion,224 w 35th st,10001,jewish/kosher
1242,1242,28,17149,lemony,"224 w 35th st, ,",10001,greek salad desserts,dunkin donuts,155 w 35th st,10001,donuts
1267,1267,32,450,stella 34 trattoria,"macy's 6th floor - 35th broadway entrance, 151 w 34th st,",10001,italian pizza cocktail bars,dunkin donuts,155 w 35th st,10001,donuts
1273,1273,32,6988,stella 34 trattoria,"macy's 6th floor - 35th broadway entrance, 151 w 34th st,",10001,italian pizza cocktail bars,wafels & dinges,102 w 35th st,10001,french
1293,1293,32,4900,stella 34 trattoria,"macy's 6th floor - 35th broadway entrance, 151 w 34th st,",10001,italian pizza cocktail bars,sushi fussion,224 w 35th st,10001,jewish/kosher
1302,1302,32,12576,stella 34 trattoria,"macy's 6th floor - 35th broadway entrance, 151 w 34th st,",10001,italian pizza cocktail bars,sushi fussion,224 w 35th st,10001,jewish/kosher
1325,1325,32,17149,stella 34 trattoria,"macy's 6th floor - 35th broadway entrance, 151 w 34th st,",10001,italian pizza cocktail bars,dunkin donuts,155 w 35th st,10001,donuts
1538,1538,37,21828,gallow green,"542 w 27th st, ,",10001,cocktail bars american (new),pondicheri,15 w 27th st,10001,indian
1621,1621,43,21828,ovest pizzoteca,"513 w 27th st, ,",10001,pizza italian cocktail bars,pondicheri,15 w 27th st,10001,indian
1787,1787,45,21828,mulberry & vine,"55 w 27th st, ,",10001,american (new),pondicheri,15 w 27th st,10001,indian
1888,1888,46,3661,pn wood fired pizza,"2 w 28th st, ,",10001,pizza,paik's noodle,2 w 32nd st,10001,korean
1899,1899,46,3843,pn wood fired pizza,"2 w 28th st, ,",10001,pizza,pergola 36,36 w 28th st,10001,mediterranean
2028,2028,50,16410,mamma guidara's,"10 w 28th st,",10001,italian,miss korea barbecue ''sun'',10 w 32nd st,10001,korean
2065,2065,50,3843,mamma guidara's,"10 w 28th st,",10001,italian,pergola 36,36 w 28th st,10001,mediterranean
2104,2104,52,16278,cafe hanamizuki,"143 w 29th st, ,",10001,cafes,hanamizuki cafe,143 w 29th st,10001,japanese
2145,2145,52,9275,cafe hanamizuki,"143 w 29th st, ,",10001,cafes,the paul,32 w 29th st,10001,american
2247,2247,55,5830,milanes spanish restaurant,"168 w 25th st, ,",10001,spanish breakfast & brunch sandwiches,perpetuum cafe,124 w 25th st,10001,cafã©/coffee/tea
2317,2317,55,2408,milanes spanish restaurant,"168 w 25th st, ,",10001,spanish breakfast & brunch sandwiches,smithfield hall,138 w 25th st,10001,american